{% extends "szablon.html" %}
{% block tytul_strony %}List uczniow {% endblock %}
{% block h1 %}Uczniowie{% endblock %}
{% block lead %}{% endblock %}
{% block h2 %}Lista Uczniow{% endblock %}
{% block tresc%}


<ul>
  {% for uczen in uczniowie%}
  <li>
    <div>
      Imię: {{uczen.imie}} <br>
      Nazwisko : {{ uczen.nazwisko }} <br>
      Płeć: {{uczen.plec}} <br>
      Klasa: {{uczen.klasa.nazwa}} <br>
    </div>

    <a href="{{ url_for('edytuj_ucznia', uczen_id=uczen.id) }}">
      <button class="btn btn-success">Edytuj</button>
    </a>

    <a href="{{url_for('usun_ucznia', uczen_id=uczen.id)}}">
      <button class="btn btn-danger">Usuń</button>
    </a>


  </li>
  {% endfor %}
</ul>


{% endblock %}

